<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amorenew.mobile_number">
    <uses-permission android:name="android.permission.READ_PHONE_STATE"
        tools:replace="android:maxSdkVersion"
                     android:maxSdkVersion="33"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"
        android:maxSdkVersion="33"/>

</manifest>
